

@media screen and (max-width:1280px ) {
    .repaymentMain {
      height: 48vh !important;
    }
  }

  @media screen and (max-width:1024px ) {
    .repaymentMain {
      height: 38vh !important;
    }
  }

  @media screen and (max-width:576px ) {
    .repaymentMain {
      height: 60vh !important;
      padding: 5px;
    }
  }
