
.Header{
    width: 100%;
    background-color: var(--white);
}
.Page-name{
    font-size: var(--xlfont);
    font-weight: 600;
    color: var(--secondary-color);
    padding: 10px 30px;
    margin: 0;
}
.Company-h{
    display: none;
}
.Page-div{
    display: flex;
    align-items: center;
}
.header-bar{
    margin: 0 10px;
    display: none;
}
.menu-popup{
    margin: 0;
    position: relative;
    width: 50%;
    top: 0;
    left: 0;
    display: none;
}


@media only screen and (max-width: 1300px) {
    .Header{
       display: flex;
       justify-content: space-between;
       align-items: center
    }
    .Company-h{
        display: flex;
        align-items: center;
    }
    .logo-h{
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }
    .Company-Name-h{
        font-size: var(--lgfont);
        font-weight: 600;
        margin: 0 40px 0 0;
    }
    .header-bar{
        display: block;
    }
    .menu-popup{
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    .Company-Name-h{
        font-size: var(--mfont);
        margin: 0 20px 0 0;
    }
    .Page-name{
        font-size: var(--mfont);
        padding: 10px ;
    }
}